.App {
  text-align: center;
  background-color: rgb(198, 198, 210);
}

.pokemonCardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(241, 234, 241);
  border: none;
  box-shadow: 10px 10px 20px 0px #777777;
  border-radius: 10px;
}
